@page "/"
@inject NavigationManager NavigationManager

<head>
    <link href="css/Index.razor.css" rel="stylesheet">
</head>

<div class="background">
    <div class="content">
        <div class="text-block">
            <h1>Ты — твой стиль:<br>делись им с миром</h1>
            <p>
                You are your style: share it with the world<br>
                あなたはあなたのスタイルです。それを世界と共有してください
            </p>
            <div class="buttons">
                <button class="login-btn" @onclick="NavigateToLogin">Войти</button>
                <button class="register-btn" @onclick="NavigateToRegister">Зарегистрироваться</button>
            </div>
        </div>
    </div>
</div>

@code {
    private void NavigateToLogin()
    {
        NavigationManager.NavigateTo("/login");
    }

    private void NavigateToRegister()
    {
        NavigationManager.NavigateTo("/register");
    }
}
